<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crea una cuenta</h1>
                        </div>
                        <form class="user" (ngSubmit)="newUser(LoginForm)" #LoginForm='ngForm' >
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="exampleFirstName"
                                        placeholder="Nombre" [(ngModel)]="usr_Registrado.nombre_usuario">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="exampleLastName"
                                        placeholder="Apellido" [(ngModel)]="usr_Registrado.apellidos_usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="exampleUserName"
                                    placeholder="Nombre Usuario" [(ngModel)]="usr_Registrado.username">
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        name="exampleInputPassword" placeholder="Contraseña">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        name="exampleRepeatPassword" placeholder="Repita contraseña" [(ngModel)]="usr_Registrado.contrasena">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" name="exampleInputEmail"
                                    placeholder="Email" [(ngModel)]="usr_Registrado.email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="tipo"
                                    placeholder="Tipo" [(ngModel)]="usr_Registrado.id_tipo_usuario">
                            </div>

                            <button mat-raised-button color="primary" type="submit">Registrar</button>
                            <hr>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>