<!-- BODY PAGE -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">NUEVA CARPETA</h1>
</div>

<form>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="NUC">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tipo">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Presentación">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Delito">
        </div>
    </div>
    <!-- DATE OF IN AND START -->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap 4 DatePicker</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <input id="startDate" width="276" placeholder="Ingreso" />
            <input id="endDate" width="276" placeholder="Inicio" />
        </div>
        <script>
            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
            $('#startDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                minDate: today,
                maxDate: function () {
                    return $('#endDate').val();
                }
            });
            $('#endDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                minDate: function () {
                    return $('#startDate').val();
                }
            });
        </script>
    </body>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duracion">
        </div>
    </div>
    <div class="form-group col-md-3">
        <label for="inputState">Judicializada</label>
        <select id="inputState" class="form-control">
            <option selected>Si</option>
            <option selected>No</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="inputState">Nueva</label>
        <select id="inputState" class="form-control">
            <option selected>Si</option>
            <option selected>No</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="inputState">Archivo Muerto</label>
        <select id="inputState" class="form-control">
            <option selected>Si</option>
            <option selected>No</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="inputState">Vinculación</label>
        <select id="inputState" class="form-control">
            <option selected>Si</option>
            <option selected>No</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Oficio">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Rol">
        </div>
    </div>
    <div class="d-grid gap-2 col-1 mx-auto">
        <button class="btn btn-primary" type="button">Guardar</button>
    </div>
</form>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Consejo de la Judicatura del Estado de Jalisco</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->