<div class="wrapper fadeInDown">
  <div class="fadeIn first">
    <img src="assets/img/Zapotlan.jpg" id="icon" alt="Zapotlan" style="width: 100px; height: 100px;" />
  </div>
  <br><br><br>
  <div id="formContent">
    <!-- Login Form -->
    <div class="alert alert-warning" role="alert" *ngIf="LoginForm.submitted && LoginForm.controls['correo'].errors">
      <strong>Error</strong> El correo es Obligatorio
    </div>
    <form (ngSubmit)="login(LoginForm)" #LoginForm='ngForm'>
      <input 
        type="text" 
        id="correo" 
        class="fadeIn second" 
        name="correo" 
        placeholder="E-Mail"
        [(ngModel)]="usuario.usr_mail"
        required
        email
      >    
      <div class="alert alert-warning" role="alert" *ngIf="LoginForm.submitted && LoginForm.controls['contrasena'].errors">
        <strong>Error</strong> Contraseña Mayor a 6 digitos
      </div>

      <input 
        type="password" 
        id="contrasena" 
        class="fadeIn third" 
        name="contrasena" 
        placeholder="Contraseña"
        [(ngModel)]="usuario.usr_password"
        required
        minlength="6"
      >
      <!--  <input type="submit" class="fadeIn fourth" value="Login">-->
      <br>
      <!-- <button mat-raised-button color="primary" [routerLink]="['/menu']">Login</button>-->
      <button mat-raised-button color="primary" type="submit">Login</button>
      <br>
    </form>
    <!-- Remind Password -->
    <br>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>