<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Notificaciones</h1>
    <p class="mb-4">Se muestran las notificaciones realizadas asi como su estatus.

        <!-- TABLAS -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Notificaciones</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nuc</th>
                            <th>Notificador</th>
                            <th>Juez</th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nuc</th>
                            <th>Notificador</th>
                            <th>Juez</th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Iván Gómez Vega</td>
                            <td>12/05/2021</td>
                            <td>Enviado</td>
                            <td>ver</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Consejo de la Judicatura del Estado de Jalisco</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->