<div class="container-fluid">

    <!-- BODY PAGE -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Enviar Notificación</h1>
    </div>
    <!-- FORMULARIO -->
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">NUC</label>
            <div class="col-sm-5">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Notificador</label>
            <div class="col-sm-5">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Acuerdo Realizado por:</label>
            <div class="col-sm-5">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Juez</label>
            <div class="col-sm-5">
                <input class="form-control" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-5">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-group row">
                <label for="formFile" class=" col-sm-2 col-form-label">Adjuntar archivo</label>
                <div class="col-sm-5">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
        </div>

    </form>
    <!-- DATE OF IN AND START -->

    <!-- CLOCK -->

    <!-- BOTTON GUARDAR-->

    <div class="d-grid gap-2 col-1 mx-auto">
        <div class="col-sm-5">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </div>


    <!-- BOTTON  ENVIAR -->

    <div class="d-grid gap-2 col-1 mx-auto">
        <div class="col-sm-5">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>




    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Consejo de la Judicatura del Estado de Jalisco</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>