<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Partes</h1>
    <p class="mb-4">Se muestran las partes registradas en nuestro juzgado (Ministerios Públicos, Defensores, Asesores Juridicos). 

    <!-- TABLAS -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Partes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Opciones</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Marivel Diaz Martinez</td>
                            <td>Ministerio Público</td>
                            <td>@correo.com</td>
                            <td>3312612515</td>
                            <td></td> 
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Consejo de la Judicatura del Estado de Jalisco</span>
        </div>
    </div>
</footer>
