<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">BUSCAR CARPETA</h6>
    </div>
    <div class="card-body">

        <form>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="NUC">
                </div>
            </div>
            <div class="d-grid gap-2 col-1 mx-auto">
                <button class="btn btn-primary" type="button">Buscar</button>
            </div>
        </form>

    </div>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Consejo de la Judicatura del Estado de Jalisco</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->